body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px 0 15px;
	text-align: center;
}

.description {
	cursor: pointer;
}

.create-row {
	text-align: right;
}

.create-new-btn {
	color: #fff;
}

.alloc-pie-chart {
	margin: 0 auto;
}

.treatments {
	padding-right: 30%;
}

.treatments-title {
	margin: 45px 0 20px 0;
}

.create-new-btn {
	margin-top: 9px;
}

.actions {
	text-align: center;
}

#experiments-list {
	td {
		vertical-align: middle;
	}
}

.new-form {
	width: 60%;
	margin: 0 auto;
}

.fa-3 {
	font-size: 3em;
}

.add-more-treatment {
	cursor: pointer;
	i {
		vertical-align: middle;
	}
	span {
		padding-left: 10px;
		font-size: 1.1em;
	}
}

.treatments-fs {
	margin-right: 0;
	margin-left: 0;
	padding: 15px;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}